$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px;

.header {
    height: 200px; 
    background-color: #454D46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;


    &__title-box {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 22px;
        color: white;
        font-family: "Cinzel", serif; 
    }
}

.main-title {
    font-size: 32px; 
    color: white;
}

.header-link:hover {
    opacity: 50%;
}

.list__item {
    padding: 5px 10px 5px 10px;
}

.menu {
    background-color: #454D46;
    opacity: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 900px;
    }

    &__button {
        border: none;
    }
}

.menu__button:hover {
    background-color: #d3d3d3;
    opacity: 90%;
}