$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px;

.header {
    height: 200px; 
    background-color: #454D46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cinzel", serif; 
    text-align: center;
//    text-shadow: 1px 1px lightgrey;


    &__title-box {
        display: flex;
    }

    &__title {
        font-size: 22px;
    }
}

.main-title {
    font-size: 32px; 
    color: white; //for now - needs styling and maybe a border
}

.menu-link {
    color: white; //for now - needs styling and maybe a border
    font-size: 23px;
}

//is it due to the span that I can't style the link color in the same class?

.list__item {
    padding: 5px 10px 5px 10px;
}

.menu {
    background-color: #454D46;
    opacity: 80%;
    height: 50px;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 900px;
    }

    &__button {
        border: none;
    }
}

.menu__button:hover {
    background-color: #d3d3d3;
    opacity: 90%;
}