$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px;

.header {
    background-color: #454D46;
    background-image: linear-gradient(#454d46, #748375);

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 200px; 
    }
    
    &__title {
        font-size: 22px;
        color: white;
        font-family: "Cinzel", serif; 
    }
    
    &__title-box {
        display: flex;
        flex-direction: column;
        transform: translateY(-15px);
    }
}

.main-title {
    font-size: 32px; 
    color: white;
}

@media screen and (min-width: $tablet) {
    .header__title {
        font-size: 24px;
    }

    .main-title { 
        font-size: 36px;
    }
}

@media screen and (min-width: $desktop) {
    .header__title {
        font-size: 26px;
    }

    .main-title {
        font-size: 40px;
    }
}

.header-link:hover {
    opacity: 70%;
}

.list__item {
    padding: 5px 10px 5px 10px;
}

.menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    opacity: 80%;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 900px;
    }

    &__button {
        border: none;
    }
}

.menu__button:hover {
    background-color: #d3d3d3;
    opacity: 80%;
}