$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px;

.kontakt {
    max-width: 700px;

    &__open {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 10px;
        border: red solid 1px;
    }

    &__info {
        width: 100%;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-left: 10px;
        border: red solid 1px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__map {
        max-width: 800px;
        height: 300px;
        margin-bottom: 20px;
        padding-top: 10px;
    }
}

.list-distance {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width: 500px) {
    .kontakt {
        display: flex;
    }

}

@media screen and (min-width: $tablet) {
    .kontakt__map {
        height: 400px;
    }
}