.landing {
    max-width: 900px;
    margin-top: 10px;

    &__title  {
    //    min-height: 80px;
        border: solid blue 1px;
        margin-top: 10px;
    }

    &__text {
        max-width: 675px;
        min-height: 400px;
        margin-top: 20px;
        padding: 10px;
    }

    &__container {
        min-height: 700px;
        border: solid red 1px;
        margin-top: 10px;
    }
}

.quote {
    margin: 12px 0 12px 0;
}